<!DOCTYPE html>
<html>
<head>
  <title>BloodDonationApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
</head>
<body>
	<h2 class="header"><center>Blood Donation</center></h2>

	<div class="link-box">
		<center><%= link_to "Emergency", users_emergency_path %></center>
	</div>
	<br />
	<div class="link-box">
    <center><%= link_to "Log In", sessions_path %></center>
	</div>
	<br />
	<div class="link-box">
    <center><%= link_to "Register", new_user_path %></center>
	</div>
	<div class="index-body">
		 <% flash.each do |key, value| %>
  				<%= content_tag :div, value, class: "flash #{key}" %>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>